.test {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;
}

table ,td,th {
  border: 1px solid black;
}
.table {
  border-collapse: collapse;

}
td, th{
  min-width: 100px;
}
.so-am {
  color: red;
}
.right {
  text-align: right;
}
