
<div class="test">
  <h3>Đây lafcomponent home</h3>
  <div *ngFor="let item of traiCay">
    <li>{{item}}</li>
  </div>

  <table class="table">
    <tr>
      <th>Thứ tụ</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Đại ha giá</th>
    </tr>
    <tr *ngFor="let item of traiCay2 ; let i = index">
      <td>{{(i+1)}}</td>
      <td>{{item.ten | uppercase }}</td>
      <td class="right">
        <span [ngClass]="{'so-am': item.gia <0}">{{item.gia}}</span>
        </td>
      <td>
        <span>{{item.haGia | onSale}}</span>
      </td>
    </tr>
  </table>
</div>
